<nav class="bottom-nav">
  <a
    routerLink="/home"
    routerLinkActive="bottom-nav__item--active"
    class="bottom-nav__item"
  >
    <i class="pi pi-home"></i>
    <span>Resumen</span>
  </a>

  <a
    routerLink="/ingresos"
    routerLinkActive="bottom-nav__item--active"
    class="bottom-nav__item"
  >
    <i class="pi pi-arrow-up-right"></i>
    <span>Ingresos</span>
  </a>

  <a
    routerLink="/gastos"
    routerLinkActive="bottom-nav__item--active"
    class="bottom-nav__item"
  >
    <i class="pi pi-shopping-cart"></i>
    <span>Gastos</span>
  </a>

  <a
    routerLink="/mas"
    routerLinkActive="bottom-nav__item--active"
    class="bottom-nav__item"
  >
    <i class="pi pi-ellipsis-h"></i>
    <span>Más</span>
  </a>
</nav>
